@model IEnumerable<DBFirstMVC.RoundAndSemester>

@{

Layout = "~/Views/Shared/adminView.cshtml";

}
@{
    ViewBag.Title = "Change Round Dates";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}


<h2>Round Dates</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoundID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentRound)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoundID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate).ToString().Substring(0,10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate).ToString().Substring(0,10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentRound)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRound", new { id=item.RoundAndSemesterID }) |
            @Html.ActionLink("Delete", "DeleteRound", new { id=item.RoundAndSemesterID })
        </td>
    </tr>
}

</table>
