@model DBFirstMVC.Room

@{
    ViewBag.Title = "Delete Room";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Request</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Building.BuildingName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Building.BuildingName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Capacity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capacity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lab)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lab)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeptCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeptCode)
    </div>

   
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "EditPool")
    </p>
}
