@model DBFirstMVC.Facility

@{
    ViewBag.Title = "Delete Facility";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}

<h2>Delete facility</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Request</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FacilityID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacilityID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FacilityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacilityName)
    </div>

  

   
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "ShowFacility")
    </p>
}

