@model DBFirstMVC.Room

@{
    ViewBag.Title = "Edit room";
}

<h2>Edit pool room</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Request</legend>
           <div class="editor-label">
            @Html.LabelFor(model => model.RoomName)
        </div>
          <div class="editor-field">
        @Html.EditorFor(model => model.RoomName)
        @Html.ValidationMessageFor(model => model.RoomName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BuildingCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BuildingCode)
          
            @Html.ValidationMessageFor(model => model.BuildingCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Capacity)
        </div>
        <div class="editor-field">
           @Html.EditorFor(model => model.Capacity)
          
            @Html.ValidationMessageFor(model => model.Capacity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lab)
        </div>
        <div class="editor-field">
           @Html.EditorFor(model => model.Lab)
           
            @Html.ValidationMessageFor(model => model.Lab)
        </div>
           @Html.HiddenFor(model => model.URL)
        <div class="editor-label">
            @Html.LabelFor(model => model.DeptCode)
        </div>
        <div class="editor-field">
              @Html.EditorFor(model => model.DeptCode)
        
            @Html.ValidationMessageFor(model => model.DeptCode)
        </div>

       

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "EditPool")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
