@model IEnumerable<DBFirstMVC.Room>



@{
    ViewBag.Title = "Edit-Room";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}
 @{
     if (ViewBag.CurrentUserTitle=="CA - Central Admin"){
    
         <h2>Edit pool Room</h2>
        Layout = "~/Views/Shared/adminView.cshtml";

     <p>
    @Html.ActionLink("Create New", "Create")
</p>
     
     }
     
     else {<h2>Add Private Room</h2>}
     }



<table>
    <tr>
        <th>
              @Html.ActionLink("Room", "EditPool", new { sortOrder = ViewBag.RoomSortParm })
        </th>
        <th>
           @Html.ActionLink("Building", "EditPool", new { sortOrder = ViewBag.BuildingSortParm })
        </th>
        <th>
           @Html.ActionLink("Capacity", "EditPool", new { sortOrder = ViewBag.CapacitySortParm })
        </th>
        <th>
             @Html.ActionLink("Lab", "EditPool", new { sortOrder = ViewBag.LabSortParm })
        </th>
        <th>
           @Html.ActionLink("Dept", "EditPool", new { sortOrder = ViewBag.DeptSortParm })
        </th>
        <th>
             @Html.ActionLink("Park", "EditPool", new { sortOrder = ViewBag.ParkSortParm })
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
          
             @Html.DisplayFor(modelItem => item.Lab)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.ParkName)
        </td>
 @if (@ViewBag.CurrentUserTitle=="CA - Central Admin"){
        <td>
            @Html.ActionLink("Delete","Delete", new {id1=item.RoomName})|
              @Html.ActionLink("Edit ","EditRoom", new {id1=item.RoomName})
 
        </td>
 }

        else {
 
 
    <td>
            
              @Html.ActionLink("Edit Room","EditRoom", new {id1=item.RoomName})
 
        </td>
 }
    </tr>
}

</table>