@model IEnumerable<DBFirstMVC.Room>

@{

Layout = "~/Views/Shared/adminView.cshtml";

}

@{
    ViewBag.Title = "Edit-Room";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}

<h2>Edit pool Room</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeptCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building.ParkName)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
          
             @Html.DisplayFor(modelItem => item.Lab)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.ParkName)
        </td>
 @if (@ViewBag.CurrentUserTitle=="CA - Central Admin"){
        <td>
            @Html.ActionLink("Delete","Delete", new {id1=item.RoomName})|
              @Html.ActionLink("Edit ","EditRoom", new {id1=item.RoomName})
 
        </td>
 }

        else {
 
 
    <td>
            
              @Html.ActionLink("Edit Room","EditRoom", new {id1=item.RoomName})
 
        </td>
 }
    </tr>
}

</table>