@model DBFirstMVC.Models.RequestAndFacility

@{
    ViewBag.Title = "Request";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}

<h2>Request @Model.Request.RequestID</h2>


            <h2> Facilities</h2>
<ol>
@foreach (var item in Model.FacilityRequests) {

    <li>
            @Html.DisplayFor(modelItem => item.Facility.FacilityName) <!-- Display the facility name -->
        </li>
    
}
</ol>
        <h2>Rooms</h2>
<ol>
@foreach(var item in Model.RequestToRooms){

       <li>@Html.DisplayFor(modelItem => item.RoomRequest.RoomName) <!-- Display the room name --> </li>         

}
    </ol>
<table>
    <tr>
        <td>
            <h2>Information </h2>
        </td>
    </tr>
       <tr>
        <th>
            @Html.DisplayNameFor(model => model.Request.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.Module.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.SessionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.SessionLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.DayID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.PeriodID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.PriorityRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.AdhocRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.SpecialRequirements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.RoundID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.Status)
        </th>
    </tr>
<tr>
        <td
            @Html.DisplayFor(modelItem => modelItem.Request.RequestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.Module.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.SessionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.SessionLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.DayID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.PeriodID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.PriorityRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.AdhocRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.SpecialRequirements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.RoundID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.Status)
        </td>
      <td>
            @Html.ActionLink("Change Status", "Edit", new { id= @Model.Request.RequestID}) |
          @Html.ActionLink("Allocate", "AllocateRooms", new { id= @Model.Request.RequestID}) |
        </td>
    </tr>
    

</table>
