@model IEnumerable<DBFirstMVC.RoundAndSemester>



@{

Layout = "~/Views/Shared/adminView.cshtml";

}

@{
    ViewBag.Title = "Round Date";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}

<h2>Round Dates</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoundID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
          <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.CurrentRound)
        </th>
          </tr>

        @foreach (var item in Model) {
            
                <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoundID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
  
        <td>
            @Html.TextBoxFor(modelItem=> item.StartDate, "{0:dd/MM/yyyy}", new { @readonly = "readonly" })
                 
        </td>
                    
        <td>
            @Html.TextBoxFor(modelItem=> item.EndDate, "{0:dd/MM/yyyy}", new { @readonly = "readonly" })
               
        </td>
         <td>
                 @Html.DisplayFor(modelItem => item.CurrentRound)
        </td>
        <td>
            @Html.ActionLink("Delete Date","DeleteDate", new {id=item.RoundAndSemesterID})|
              @Html.ActionLink("Edit Date","EditDate", new {id=item.RoundAndSemesterID})|
 
        </td>
                    </tr>
        }
    </table>