@model DBFirstMVC.Models.RoomInfo

@{
    ViewBag.Title = "Display Room Info";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}
 @{
     if (ViewBag.CurrentUserTitle=="CA - Central Admin"){
    

        Layout = "~/Views/Shared/adminView.cshtml";

     
     
     }
            
            
            
            
            
        }
<h2>@ViewBag.RoomName</h2>

<fieldset>
    <legend>Room</legend>
    <h2 style="float:right;">@Html.DisplayFor(model => model.Room.RoomName)</h2>
    @{
        if(ViewBag.Caller == "CreateNew"){
            @Html.ActionLink("Back","CreateNew") 
        }
        if(ViewBag.Caller == "GetRequest"){
            @Html.ActionLink("Back",null, null, null, new { href = Request.UrlReferrer})
        }
        if(ViewBag.Caller == "Edit"){
            @Html.ActionLink("Back",null, null, null, new { href = Request.UrlReferrer})
        }
    }
    
    <!--@Html.ActionLink("Back to previous page",null, null, null, new { href = Request.UrlReferrer})-->
    <table>
        <tr>
            <th>  @Html.LabelFor(model => model.Room.BuildingCode,"Building Code")</th>
            <th> @Html.LabelFor(model => model.Room.Capacity)</th>
            <th>@Html.LabelFor(model => model.Room.Lab)</th>
             @{if (Model.Room.DeptCode != null)
               {<th> @Html.LabelFor(model => model.Room.DeptCode, "Dept")</th>} }
        </tr>
        <tr>
            <td class="display-label">
               
                @Html.DisplayFor(model => model.Room.BuildingCode)
            </td>

            <td class="display-label">
                
                @Html.DisplayFor(model => model.Room.Capacity)
            </td>

            <td class="display-label">
                 
                @{
                    if (Model.Room.Lab == 1)
                    {
                        @Html.CheckBox("Lab",true, new{@disabled = "disabled"})
                }
                    else{
                        @Html.CheckBox("Lab",false, new{@disabled = "disabled"})
                }
        
                }
            </td>

            @{
                if (Model.Room.DeptCode != null)
                {
                    <td class="display-label">
                        @Html.DisplayFor(model => model.Room.DeptCode)
                    </td>
                }
            }
        </tr>
   </table>
    <div style="float:right;">
        <img src="@Url.Content(Model.Room.URL)" width="400" height="300" />
    </div>
    <div id="facList">
        <h2> Facilities</h2>
        <ol>
        @foreach (var item in Model.RoomFacility) {

            <li>
                @Html.DisplayFor(modelItem => item.Facility.FacilityName) <!-- Display the facility name -->
            </li>
    
        }
        </ol>
    </div>
    

</fieldset>
