@model DBFirstMVC.Request

@{
    ViewBag.Title = "Edit";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Request</legend>

        @Html.HiddenFor(model => model.RequestID)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModCode, "Module")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ModCode", String.Empty)
            @Html.ValidationMessageFor(model => model.ModCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SessionType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SessionType)
            @Html.ValidationMessageFor(model => model.SessionType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SessionLength)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SessionLength)
            @Html.ValidationMessageFor(model => model.SessionLength)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DayID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DayID)
            @Html.ValidationMessageFor(model => model.DayID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeriodID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PeriodID)
            @Html.ValidationMessageFor(model => model.PeriodID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PriorityRequest)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PriorityRequest)
            @Html.ValidationMessageFor(model => model.PriorityRequest)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdhocRequest)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdhocRequest)
            @Html.ValidationMessageFor(model => model.AdhocRequest)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SpecialRequirements)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SpecialRequirements)
            @Html.ValidationMessageFor(model => model.SpecialRequirements)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Semester)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Semester)
            @Html.ValidationMessageFor(model => model.Semester)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoundID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoundID)
            @Html.ValidationMessageFor(model => model.RoundID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
