@model DBFirstMVC.Models.RequestInfo

@{
    ViewBag.Title = "Request";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}

<h2>Request @Model.Request.RequestID</h2>


            <h2> Facilities</h2>
<ol>
@foreach (var item in Model.FacilityRequests) {

    <li>
            @Html.DisplayFor(modelItem => item.Facility.FacilityName) <!-- Display the facility name -->
        </li>
    
}
</ol>
        <h2>Rooms</h2>
<ol>
@foreach(var item in Model.RequestToRooms){

       <li> @Html.DisplayFor(modelItem => item.RoomRequest.RoomName)  (@Html.DisplayFor(modelItem => item.RoomRequest.GroupSize) students) @Html.DisplayFor(modelItem => item.RoomRequest.PriorityRoom)</li><!-- Display the room name -->
  

}
    </ol>
<table>
    <tr>
        <td>
            <h2>Information </h2>
        </td>
    </tr>
       <tr>
        <th>
            @Html.LabelFor(model => model.Request.User.Dept.FullDept,"Dept")
        </th>
        <th>
            @Html.LabelFor(model => model.Request.Module.Title)
        </th>
        <th>
            @Html.LabelFor(model => model.Request.SessionType, "Type")
        </th>
        <th>
            @Html.LabelFor(model => model.Request.SessionLength, "Length")
        </th>
        <th>
            @Html.LabelFor(model => model.Request.DayID, "Day")
        </th>
        <th>
            @Html.LabelFor(model => model.Request.PeriodID, "Period")
        </th>
        <th>
            @Html.LabelFor(model => model.Request.PriorityRequest, "Priority")
        </th>
        <th>
            @Html.LabelFor(model => model.Request.AdhocRequest, "Ad-hoc")
        </th>
        <th>
            @Html.LabelFor(model => model.Request.SpecialRequirements, "Special Requirements")
        </th>
        <th>
            @Html.LabelFor(model => model.Request.Semester)
        </th>
        <th>
            @Html.LabelFor(model => model.Request.RoundID, "Round")
        </th>
        <th>
            @Html.LabelFor(model => model.Request.Status)
        </th>
    </tr>
<tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.User.Dept.FullDept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.Module.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.SessionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.SessionLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.DayID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.PeriodID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.PriorityRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.AdhocRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.SpecialRequirements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.RoundID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Request.Status)
        </td>
    </tr>
    

</table>