@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Requests</h2>
@Html.ActionLink("Next Round", "NextRound", null, new { onclick="return confirm('Are you sure you want to process requests and move onto the next round?')" }) |
<a id="scrollToBottom">Bottom of Page</a>
@using (Html.BeginForm())
            {
                <p>
                    Find by module name/code: @Html.TextBox("SearchString")
                    <input type="submit" value="Search" />
                </p>
            }
@Html.ActionLink("Past/Present", "Index", new { yearSelect = ViewBag.YearFilter })

<table style="float:right;"> 
    <tr><td class="approved"></td><td>APROVED</td></tr>
     <tr><td class="rejected"></td><td>REJETCED</td></tr>
       <tr><td class="pending"></td><td>PENDING</td></tr>
     <tr><td class="modified"></td><td>APPROVED BUT MODIFIED</td></tr>
    </table>

<div id='Paging' style="text-align:center">
    @Html.PagedListPager( (IPagedList)ViewBag.Page, page => Url.Action("Index", new { page }) )
</div>

<table>
    <tr>
        <th>
            @Html.ActionLink("User", "Index", new { sortOrder = ViewBag.UserSortParm })
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm })
        </th>
        <th>
            @Html.ActionLink("Length", "Index", new { sortOrder = ViewBag.LengthSortParm })
        </th>
        <th>
            @Html.ActionLink("Day", "Index", new { sortOrder = ViewBag.DaySortParm })
        </th>
        <th>
            @Html.ActionLink("Period", "Index", new { sortOrder = ViewBag.PeriodSortParm })
        </th>
        <th>
            @Html.ActionLink("Priority", "Index", new { sortOrder = ViewBag.PrioritySortParm })
        </th>
        <th>
            @Html.ActionLink("Adhoc", "Index", new { sortOrder = ViewBag.AdhocSortParm })
        </th>
        <th>
            @Html.ActionLink("Semester", "Index", new { sortOrder = ViewBag.SemesterSortParm })
        </th>
        <th>
            @Html.ActionLink("Round", "Index", new { sortOrder = ViewBag.RoundSortParm })
        </th>
        <th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm })
        </th>
    </tr>

@foreach (var item in ViewBag.Page) {
    var statusClass = "";
    var status = "";
    var day = "";
    var time = "";

    if (item.Status == 1.ToString())
    {
        statusClass = "approved";
        status = "Approved";

    }

    else if (item.Status == 2.ToString())
    {
        statusClass = "rejected";
        status = "Rejected";
    }
    else if (item.Status == 3.ToString())
    {
        statusClass = "modified";
        status = "Approved But Successful";

    }

    else
    {
        statusClass = "pending";
        status = "Pending";
        

    }


    if (item.DayID == 1)
    {
        day = "Monday";

    }

    else if (item.DayID == 2)
    {
        day = "Tuesday";


    }
    else if (item.DayID == 3)
    {
        day = "Wednesday";



    }

    else if (item.DayID == 4)
    {
        day = "Thursday";
    }
    else
    {
        day = "Friday";
    }

    switch (item.PeriodID)
    {
        case 1: time = "9:00";
            break;
        case 2: time = "10:00";
            break;
        case 3: time = "11:00";
            break;
        case 4: time = "12:00";
            break;
        case 5: time = "13:00";
            break;
        case 6: time = "14:00";
            break;
        case 7: time = "15:00";
            break;
        case 8: time = "16:00";
            break;
        case 9: time = "17:00";
            break;
    }
    <tr>
        <td  class ="@statusClass">
            @item.User.Username
        </td>
        <td>
            <b>@item.ModCode</b><br />
            @item.Module.Title
        </td>
        <td>
            @item.SessionType
        </td>
        <td>
            @item.SessionLength
        </td>
        <td>
            @day
           
        </td>
        <td>
            @time
        </td>
        <td>
            @item.PeriodID
        </td>
        <td>
             @{
                    if(item.PriorityRequest == 1){
                        @Html.CheckBox("Priority",true, new{@onclick = "return false;"})
                    }
                    else{
                        @Html.CheckBox("Priority",false, new{@onclick = "return false;"})
                    }
        
              }          
        </td>
        <td>
            @{
    if (item.AdhocRequest == 1)
    {
                    @Html.CheckBox("AdHoc",true, new{@onclick = "return false;"})
                }
                else{
                    @Html.CheckBox("AdHoc",false, new{@onclick = "return false;"})
                }
        
            }

           
        </td>
        <td>
            @item.Semester
        </td>
        <td>
            @item.RoundID
        </td>
        <td>
            @status
        </td>
        <td class ="@statusClass">
            @{
                if(Convert.ToInt16(item.Status) == 0){ @Html.ActionLink("Edit", "Edit", new { id=item.RequestID }) <span>|</span> }
            }
            @Html.ActionLink("Delete", "Delete", new { id = item.RequestID }) |
            @Html.ActionLink("View", "GetRequest", new { id = item.RequestID })
            @Html.ActionLink("Copy", "Copy", new { id = item.RequestID })
        </td>
    </tr>
}
<style type="text/css">

    .approved {
        background-color:green;
    }
    .rejected {
        background-color:#C80000;
    }
    .pending {
        background-color:grey;
    }
    .modified {
        background-color:lightyellow;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section CreateNewScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#scrollToBottom').click(function () {
                window.scrollTo(0, document.body.scrollHeight);
            });
         });
     </script>
    }
