@model IEnumerable<DBFirstMVC.Request>

@{
    ViewBag.Title = "Index";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}

<h2>Requests</h2>
@Html.ActionLink("Next Round", "NextRound", null, new { onclick="return confirm('Are you sure you want to process requests and move onto the next round?')" }) |
<a id="scrollToBottom">Bottom of Page</a>

<table style="float:right;"> 
    <tr><td class="approved"></td><td>APROVED</td></tr>
     <tr><td class="rejected"></td><td>REJETCED</td></tr>
       <tr><td class="pending"></td><td>PENDING</td></tr>

</table>
<p style="white-space: pre-line"></p>
<table>
    <tr>
        <th>
            @Html.ActionLink("User", "Index", new { sortOrder = ViewBag.UserSortParm })
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm })
        </th>
        <th>
            @Html.ActionLink("Length", "Index", new { sortOrder = ViewBag.LengthSortParm })
        </th>
        <th>
            @Html.ActionLink("Day", "Index", new { sortOrder = ViewBag.DaySortParm })
        </th>
        <th>
            @Html.Label("Period")
        </th>
        <th>
            @Html.ActionLink("Priority", "Index", new { sortOrder = ViewBag.PrioritySortParm })
        </th>
        <th>
            @Html.ActionLink("Adhoc", "Index", new { sortOrder = ViewBag.AdhocSortParm })
        </th>
        <th>
            @Html.ActionLink("Semester", "Index", new { sortOrder = ViewBag.SemesterSortParm })
        </th>
        <th>
            @Html.ActionLink("Round", "Index", new { sortOrder = ViewBag.RoundSortParm })
        </th>
        <th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm })
        </th>
    </tr>

@foreach (var item in Model) {
    var statusClass = "";

    if (item.Status == 1.ToString())
    {
        statusClass = "approved";

    }

    else if (item.Status == 2.ToString())
    {
        statusClass = "rejected";



    }

    else
    {
        statusClass = "pending";

    }
    <tr>
        <td  class ="@statusClass">
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            <b>@Html.DisplayFor(modelItem => item.ModCode)</b><br />
            @Html.DisplayFor(modelItem => item.Module.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodID)
        </td>
        <td>
             @{
                    if(item.PriorityRequest == 1){
                        @Html.CheckBox("Priority",true, new{@onclick = "return false;"})
                    }
                    else{
                        @Html.CheckBox("Priority",false, new{@onclick = "return false;"})
                    }
        
              }
           <!-- @Html.DisplayFor(modelItem => item.PriorityRequest) -->
        </td>
        <td>
            @{
                if(item.AdhocRequest == 1){
                    @Html.CheckBox("AdHoc",true, new{@onclick = "return false;"})
                }
                else{
                    @Html.CheckBox("AdHoc",false, new{@onclick = "return false;"})
                }
        
            }
            <!--@Html.DisplayFor(modelItem => item.AdhocRequest)-->
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoundID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td class ="@statusClass">
            @{
                if(Convert.ToInt16(item.Status) == 0){ @Html.ActionLink("Edit", "Edit", new { id=item.RequestID }) <span>|</span> }
            }
            @Html.ActionLink("Delete", "Delete", new { id = item.RequestID }) |
            @Html.ActionLink("View", "GetRequest", new { id = item.RequestID })
        </td>
    </tr>
}

</table>
<style type="text/css">

    .approved {
        background-color:green;
    }
    .rejected {
        background-color:#C80000;
    }
    .pending {
        background-color:grey;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section CreateNewScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#scrollToBottom').click(function () {
                window.scrollTo(0, document.body.scrollHeight);
            });
         });
     </script>
    }
