@model DBFirstMVC.Module

@{
    ViewBag.Title = "Module";
    ViewBag.CurrentUserTitle = @ViewBag.CurrentUser;
}

<h2> Module</h2>
 <fieldset>
 <legend>Module</legend>
<div class="editor-label">

    @Html.ActionLink("Create New Module", "CreateNewModule")

 
 </div>
                        <div class="editor-field">
                            <input type="text" id="txtModSearch" placeholder="e.g. COA101" />
                            <input type="button" id="btnModSearch" value="Filter" />
                            @Html.DropDownListFor(model => model.ModCode,new SelectList(ViewBag.Modules,"ModCode", "FullModule"), "-- Select Module --")
                            @Html.ValidationMessageFor(model => model.ModCode)
                        </div>


      </fieldset>




















@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section CreateNewScript{
    <script type="text/javascript">

//Function to filter the modules based on the search string
            $('#btnModSearch').click(function () {
                var str = $('#txtModSearch').val();
                if (str.replace(/ /g, '') == "")
                    str = "";
                var results;
                $.post('@Url.Action("getModules", "Request")', { searchString: str }, function (data) {
             
                    results = data;
                    $('#ModCode').html('<option value="">-- Select Module --</option>');
                    for (var i = 0; i < results.length; i++) {
                        var modCode = results[i].Whole.substr(0, 6); //extract modcode from string
                        $('#ModCode').append('<option value="'+modCode+'">' + results[i].Whole + '</option>');
                    }

                });
            });

        $("#ModCode").on('change', function () {
            var module = $(this).val().substr(0, 6);
   
            window.location.href = '/team16web/Request/GetModuleInfo/' + module;
          //  $.post('@Url.Action("getModuleInfo", "Request")', { id: module });
                
                

           
        });
    </script>
    }
